<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forget Password</title>
    <link rel="stylesheet" type="text/css" href="/forgetPassword.css">
</head>
<body>
    
       <div class="container">
	<div class="container__item">
		<form class="form" action="/forgotpassword" method="POST">
			<input type="email" class="form__field" placeholder="Your E-Mail Address" name="forgetEmail"/>
			<button type="submit" class="btn btn--primary btn--inside uppercase">Send Otp</button>
		</form>
	</div>
	
	
</div>
   
</body>
</html>