<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/resetpassword.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">"
</head>
<body>
  
<form action="/resetpassword" method="POST">
     <div class="password-wrapper">
	<input id="password-field" type="password" placeholder="Password" class="input" name="psw">

  	<span toggle="#password-field" class="ion ion-eye field-icon toggle-password"></span>
	<input id="confirm-password-field" type="password" placeholder="Confirm Password" class="input" name="confirm_psw">
	
  	<span toggle="#confirm-password-field" class="ion ion-eye field-icon toggle-password"></span>
	
 </div>
 <div style="margin-top: 29%;margin-left: 45%">
<button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
</div>
 
 <div class="strength-lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
 
 </div>
</form>

</body>
<script defer type="text/javacript href="/resetPassword.js"></script>
</html>